*{
    margin: 0%;
}

.e1{
    background-image: url(pic1.png);
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.n1{
    padding-left: 39%;
    position: fixed;
    font-family: sans-serif;
    font-weight: 300;
    z-index: 1;
}
.n2{
    padding-left: 38%;
    position: fixed;
    font-family: sans-serif;
    margin: 2%;
    z-index: 1;
}

a:link{
    text-decoration: none;
    color: black; 
}
a:visited{
    color: black;
}
.e2{
    background-color: rgba(255, 255, 255, 0.749);
    height: 60vh;
    margin: 8%;
    display: flex;
    border-radius: 5px;
}
.e2a,.e4a{
   margin: 2%;
}
.e2b{
    
    align-content: center;
}

.e3{
    background-image: url(pic2.png);
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.e4{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.749);
    height: 60vh;
    display: flex;
    border-radius: 5px;
    padding-top: 30px;
    margin: 9% 8%;
}
.e4a,.e6b{
    align-content: center;
}
.e5{

    background-image: url(pic4.png);
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.e6{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.749);
    height: 60vh;
    display: flex;
    border-radius: 5px;
    padding-top: 30px;
    margin: 9% 8%;
}
.e6a{
    margin:2% ;
}